name: Build and Release tpix-cli

on:
  release:
    types: [published]

jobs:
  build-release:
    name: Build and Upload Assets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Important for 'git describe' to work in your Makefile

      - name: Set up Go
        uses: actions/checkout@v4
        with:
          go-version: '1.21' # Replace with your version

      - name: Build release packages
        run: make release

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/*.tar.gz
            dist/checksums.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
